<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  {{>header}}
  <div class="input-div">
    <div class="wrapper">
      {{#if message}}
      <h3 class="success-mess">{{message}}</h3>
      {{/if}}
      {{#if error}}
      <h3 class="error-mess">{{error}}</h3>
      {{/if}}
      <h2>Registration</h2>
      <form action="/addNewStudent" method="post">
        <div class="input-box">
          <input type="text" name="name" placeholder="Enter name" required>
        </div>
        <div class="input-box">
          <input type="text" name="surname" placeholder="Enter surname" required>
        </div>
        <div class="input-box">
          <input type="text" name="username" placeholder="Enter username" required>
        </div>
        <div class="input-box">
          <input type="text" name="email" placeholder="Enter email" required>
        </div>
        <div class="input-box">
          <input type="password" name="password" placeholder="Create password" required>
        </div>

        <div class="input-box button">
          <input type="Submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</body>

</html>